<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false"
         colors="true" processIsolation="false" stopOnFailure="false" stopOnError="false" stderr="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd" cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
    <coverage>
        <include>
            <directory>src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Test Suite">
            <directory suffix="Test.php">tests</directory>
            <exclude>tests/generated</exclude>
        </testsuite>
    </testsuites>
    <php>
        <!-- error_reporting = E_ALL ^ E_DEPRECATED -->
        <ini name="error_reporting" value="24575"/>
        <ini name="memory_limit" value="-1"/>
    </php>
</phpunit>
